---
###############################################################################
#                                                                             #
# Ansible Hardening lab                                                       #
# Target: rhel/centos 6/7                                                     #
# version: 1.0                                                                #
#                                                                             #
# How to apply this playbook:                                                 #
# $ ansible-playbook -i inventories/[entorno]/hosts hardening_playbook.yml    #
#                                                                             #
###############################################################################


 - hosts: all
   become: true
   vars:
      var_sshd_set_keepalive: !!str 0
      sshd_idle_timeout_value: !!str 900
      sshd_login_level: "INFO"
      root_login: "no"
   tasks:
    - name: Enable SSH Warning Banner
      lineinfile:
        create: true
        dest: /etc/ssh/sshd_config
        regexp: ^Banner
        line: Banner /etc/issue
        validate: /usr/sbin/sshd -t -f %s
      tags:
        - sshd_enable_warning_banner
        - medium_severity
        - restrict_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed
    
    - name: Allow Only SSH Protocol 2
      lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: ^Protocol [0-9]
        line: Protocol 2
        validate: /usr/sbin/sshd -t -f %s
      tags:
        - sshd_allow_only_protocol2
        - high_severity
        - restrict_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed
    
    - name: Set SSH Client Alive Count
      lineinfile:
        create: true
        dest: /etc/ssh/sshd_config
        regexp: ^ClientAliveCountMax
        line: ClientAliveCountMax {{ var_sshd_set_keepalive }}
        validate: /usr/sbin/sshd -t -f %s
      notify: restart sshd
      tags:
        - sshd_set_keepalive
        - medium_severity
        - restrict_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed
        - restart_ssh_service
    
    - name: Disable SSH Root Login
      lineinfile:
        create: true
        dest: /etc/ssh/sshd_config
        regexp: ^PermitRootLogin
        line: PermitRootLogin {{ root_login }}
        insertafter: (?i)^#?authentication
        validate: /usr/sbin/sshd -t -f %s
      notify: restart sshd
      tags:
        - sshd_disable_root_login
        - medium_severity
        - restrict_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed
    
    - name: Set SSH Idle Timeout Interval
      lineinfile:
        create: true
        dest: /etc/ssh/sshd_config
        regexp: ^ClientAliveInterval
        line: ClientAliveInterval {{ sshd_idle_timeout_value }}
        validate: /usr/sbin/sshd -t -f %s
      tags:
        - sshd_set_idle_timeout
        - medium_severity
        - restrict_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed
    
    - name: Enable service firewalld
      service:
        name: firewalld
        enabled: 'yes'
        state: started
      when: ansible_distribution_major_version >= "7"
      tags:
        - service_firewalld_enabled
        - medium_severity
        - enable_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed
    
    - name: Enable service iptables
      service:
        name: iptables
        enabled: 'yes'
        state: started
      when: ansible_distribution_major_version <= "6"
      tags:
        - service_iptables_enabled
        - medium_severity
        - enable_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed

    - name: Set LogLevel to INFO
      lineinfile:
        create: true
        dest: /etc/ssh/sshd_config
        regexp: ^LogLevel
        line: LogLevel {{ sshd_login_level }}
        validate: /usr/sbin/sshd -t -f %s
      notify: restart sshd
      tags:
        - sshd_enable_warning_banner
        - medium_severity
        - restrict_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed
        - restart_ssh_service

    - name: Add SSH banner
      copy:
        content: "{{ ssh_login_banner }}"
        dest: /etc/issue
        owner: root
        group: root
      notify: restart sshd
      tags:
        - ssh_banner
        - sshd_enable_warning_banner
        - medium_severity
        - restrict_strategy
        - low_complexity
        - low_disruption
        - no_reboot_needed

   handlers:
     - name: restart sshd
       service:
         name: sshd
         state: restarted
